sudo: required

services:
        - docker
before_install:
        - docker build -t gnapiorkowski/my-frontend -f Dockerfile.dev

script:
        - docker run -e CI=true gnapiorkowski/my-frontend yarn test
